body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.about-store{
  background-image: url(./images/blue_sweater.jpeg);
  height: 500px;
  color: blue;
  margin-bottom: 500px;
  margin-top: 500px;
}


.landing-page{
  /*how do we slide up the picture so that the skirt is showing and not the tanktop?*/
  background-image: url(./images/green_skirt.jpg);
  height: 500px;

  /* width: 500px; */
  margin-bottom: 200px;
  margin-top: 200px;
}