body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.landing-page{
  background-image: url(./images/landing_pages/3.png);
  height: 650px; 
}


.about-store{
  background-image: url(./images/landing_pages/4.png);
  height: 650px;
  color: blue;
  margin-bottom: 600px;
  margin-top: 600px;
}

.store-page{
  margin-bottom: 600px;
  margin-top: 600px;
  margin-left: 100px;
}


.grid-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
}

.grid-item{
  width: 200px;
  height: 300px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 100px;
  margin-left: 100px;
}

.favorite-button{
  color: red;
}